/* DISEÑO  */

:root{
  --blue: #2f64d6;
  --white:#ffffff;
  --yellow: #f8db27;
  --flame: #F14E28;
  font-size: 15px;
}

body{
  background-color: #ffd90f;
  font-family: 'Rock Salt', cursive;
}


p{
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: large;
}

.img-responsive{
    display: block;
    max-width: 20%;
    height: auto;
}

.box {
  background-color: var(--yellow);
  border-radius: 1.5rem;
  display: grid;
  height: calc(100vh - 7rem);
  padding: 6rem;
  place-items: center;
}

.gradient-border{
  animation: gradient 5s linear infinite;
  background: linear-gradient(100deg, var(--blue) 25%, var(--white) 50%, var(--flame) 75%);
  background-repeat: repeat;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
}

/* ////////////////////////////////////////////////////////////////////////////////// */